pkgbase = dell-latitude-7210-hyprland-git
	pkgdesc = Turnkey, touch-optimized Hyprland tablet suite for Dell Latitude 7210 2-in-1 on Arch Linux
	pkgver = r1.a6f3beb
	pkgrel = 1
	url = https://github.com/JohnnyGuerra/dell-latitude-7210-hyprland
	arch = any
	license = MIT
	makedepends = git
	depends = hyprland
	depends = waybar
	depends = iio-sensor-proxy
	depends = gtk-layer-shell
	depends = python
	depends = python-gobject
	depends = brightnessctl
	depends = libpulse
	depends = wireplumber
	depends = pipewire
	optdepends = wvkbd: on-screen keyboard with one-handed docking support
	optdepends = wofi: application and keyboard mode launcher
	provides = dell-latitude-7210-hyprland
	conflicts = dell-latitude-7210-hyprland
	source = git+https://github.com/JohnnyGuerra/dell-latitude-7210-hyprland.git
	sha256sums = SKIP

pkgname = dell-latitude-7210-hyprland-git
